.articles-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
.card {
  display: flex;
  flex-direction: row;
  max-width: 850px;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #dee2e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  gap: 10px;
  margin-top: 45px;
}

.card:hover {
  transform: scale(1.05); ;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);;
}
.card-image {
  width: 400px;
  height: 300px;
  margin: 0;
  padding: 0;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.card-image img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  object-fit: cover;
  cursor: pointer;
}

.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  width: 100%;
  margin-bottom: 0;
}
.bookmark {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}
.bookmark-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.bookmark-link i{
    color:#5b7fff;
;
}
.tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: #5b7fff;
  color: #fff;
  text-align: center;
  padding: 6px 8px;
  border-radius: 6px;
  position: absolute;
  top: 10%; 
  left: -220%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 13px;
  font-weight: 500;
  z-index: 10;
}
.bookmark-link:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.info {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 400px;
  margin-bottom: 10px;
}
.info h2 {
  font-size: 25px;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.info p {
  font-size: 13px;
  color: #555;
  margin: 0;
  cursor: pointer;
  margin-bottom: 10px;
}

.info .author {
  font-weight: 500;
  color: #555;
  font-size: 0.85rem;
}
.info .category,
.info .votes {
  background: #eaf0ff;
  color: #5b7fff;
  font-size: 0.85rem;
  padding: 4px 10px;
  border-radius: 12px;
  display: inline-block;
  width: fit-content;
  margin-top: 10px;
}
.info .date {
  display: flex;
  justify-content: flex-end;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px 0;
}

.pagination a {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #5b7fff;
  color: white;
  transition: 0.3s;
}

.pagination a:hover {
  background-color: #73a9ff;
}

.pagination span {
    margin-top: 8px;
  font-weight: 500;
  color: #333;
}