{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/update_article.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

{% endblock %}
{% block content %}
<div class="page">
<div class="container mt-4">
    <h2>Edit Article</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <label for="images">Add More Images (Ctrl+Click to select multiple)</label>
        <input type="file" name="images" id="images" multiple>
        <div id="preview" class="image-preview"></div>

        {% if images %}
        <h5>Existing Images:</h5>
        <div class="existing-images">
            {% for img in images %}
            <div class="image-wrapper">
                <img src="{{ img.image_url.url }}" alt="Article Image">
                <a href="{% url 'image_delete' article.id img.id %}" class="delete-btn">
                    <i class="fa-solid fa-x"></i>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="form-buttons">
            <button type="submit" class="btn-update">Update Article</button>
            <a href="{% url 'details' pk=article.pk %}" class="btn2 btn-secondary">Cancel</a>
        </div>
    </form>
</div>
</div>

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js" defer></script>
<script src="{% static 'js/markdown.js' %}" defer></script>
<script src="{% static 'js/preview_images.js' %}" defer></script>

{% endblock %}
{% endblock %}