{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2><i class="fa-regular fa-newspaper"></i> Welcome Back to ThinkShare</h2>
    <p class="subtitle">Sign in to continue exploring new article!</p>

    {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="form-buttons">
            <button type="submit" class="btn">Login</button>
        </div>
    </form>

    <p class="register-link">
        Don’t have an account? <a href="{% url 'signup' %}">Sign up here</a>
    </p>
</div>
{% endblock %}