{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="signup_page">

<div class="container mt-4">

  <h1>Create Your Account</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
      <small>*{{ field.help_text }}</small>
      {% endif %}
      {% if field.errors %}
      <span>{{ field.errors|striptags }}</span>
      {% endif %}
    </p>
    {% endfor %}
    <div class="form-buttons">
      <button type="submit" class="btn_signup">Sign Up</button>
    </div>

  </form>
  <p class="register-link">
    Already have an account? <a href="{% url 'login' %}">Login here</a>
  </p>

</div>
</div>
{% endblock %}