{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}

{% block content %}
<section class="contact-section">
  <div class="contact-wrapper">
    <div class="contact-info">
      <h2>Get in Touch</h2>
      <p>We’d love to hear from you! Whether you have a question or just want to say hi.</p>
    </div>

    <form class="contact-form" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn_send">SEND</button>
    </form>
  </div>
</section>

{% if success %}
<script>
    Swal.fire({
        title: 'Success!',
        text: 'Your message has been sent.',
        icon: 'success',
        confirmButtonText: 'OK'
    });
</script>
{% endif %}
{% endblock %}